.title{
  margin-top: 20px;
  font-family: 'Inconsolata', monospace;
  font-weight: strong;
  text-align: center;
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.textbox{
  height:150px;
  width:80%;
}

.myButton {
  width:200px;
  margin-top:10px;
  background-color: lightblue;
}