/*font-family: 'Bungee Shade', cursive;*/

/*disable textarea resizing*/
textarea {
    resize: none;
}


@font-face {
font-family: "Painterz";
src: url(Painterz.ttf) format("truetype");
}

body {
  background-image: url("compton.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5em;
  background-attachment: fixed;
  overflow: hidden;
}

.navigation {
  height: 60px !important;
}

.navtitle {
    font-family:"Painterz";
    /*font-family: 'Bungee Shade', cursive;*/
    font-size: 40px;
    margin-top: -9px;
    margin-bottom: 0px;
    margin-right: 40px;
    margin-left: 20px
}

.navlinks{
  padding-top: 0.5% !important;
}


ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.allContainer {
  background: rgba(130,140,144,0.7);
  position: relative;
  width: 80%;
  min-height: 500px;
  overflow: hidden;
  z-index: 15;
  border: rgba(100,114,114,0.8);
}









/*STYLES FOR RAP.HTML*/

.rapcontainer{
  max-height: 400px;
}

.intext{
  margin: 2% 0 10% 0;
  height: 400px;
  position: relative;
}
/*.pan {
  height: 480px;
}*/

/*.rapbox {
  height:481px;
}*/

.intext button {
  margin: 2% 0 0 0;
  background-color: gray ;
  font-family:"Comfortaa";
  font-size: 15px;
  letter-spacing: 1.5px;
}

span {
  font-family:"Painterz";
  letter-spacing:2px;
}

.loader{
  z-index: 1000000;
  position: absolute;
  /*height: 500px;*/
  color: white;
  -webkit-text-fill-color: gray; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gray;
  margin: auto;  
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}

.center-loader{
  position: absolute;
  top: 42%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.sk-cube-grid {
  width: 100px;
  height: 100px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: black;
  float: left;
  border: black 1px solid;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }



@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


.rappify {
  position:relative;
  height: 430px !important;
  box-shadow: 5px 5px 10px black !important;
  background-color: #e0e0d1 !important;
  padding: 0 10px;
  padding-top:18%;
}

.rapify {
  box-shadow: 5px 5px 10px black !important;
  background-color: #e0e0d1;
  position: relative;
}

.sharebtn {
  position:absolute;
  top: 85%;
  left:40%;
}

.myButton{
  background-color: #8080ff !important;
  box-shadow: 2px 2px 1px #004d1a !important;
  border: 1px #003311 solid;
}
/* END OF RAP.HTML STYLE */

/*////////////////////////*/

/* STYLES FOR LIBRARY.HTML */

.lib-icon-wrap{
  padding-top: 19px !important;
  padding-bottom: 0px !important;
}

.lib-icon{
  border: none;
}
.lib-icon:nth-child(2), .lib-icon:nth-child(3) {
  padding: 0 70px;
}

.list {
  /*text-align:center;*/
  list-style-position: outside !important;
  /*margin-left: 16.666667% !important;*/
  overflow:  hidden;
  /*height: 200px;*/
}

.list ul, .list li{
  list-style: none;
  margin: 0; 
  padding: 0;
}

/*STYLES FOR LIBRARY.HTML*/

.innerrow{
  margin-top: 3%;
  position:relative;
}

.name{
  position: absolute;
  bottom: 0;
  right: 0;
}

.abouttext{
  padding: 10px 0;
}

.pic{
  max-height: 200px;
  box-shadow: 1px 1px 3px black;
}

/*screen size adjustments*/

@media only screen and (max-width: 1000px){
  body {
    overflow: auto;
  }
}