/*font-family: 'Bungee Shade', cursive;*/

/*disable textarea resizing*/
textarea {
    resize: none;
}

@font-face {
font-family: "Painterz";
src: url(Painterz.ttf) format("truetype");
}

body {
  background-image: url("compton.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5em;
  background-attachment: fixed;
}

.navtitle {
    font-family:"Painterz";
    /*font-family: 'Bungee Shade', cursive;*/
    font-size: 40px;
    margin-top: -9px;
    margin-bottom: 0px;
    margin-right: 40px;
    margin-left: 20px
}


.allContainer {
  background: rgba(100,114,114,0.8);
  position: relative;
  margin-top: 50px;
  width: 80%;
  height: 430px;
  z-index: 15;
  border: rgba(100,114,114,0.8);
}








/*STYLES FOR RAP.HTML*/

.rapcontainer{
  height: 400px;
  margin-top: 5px;
}
.intext{
  margin: 2% 0 10% 0;
  height: 400px;
}

.rapbox {
  height:351px;
}

.intext button {
  margin: 2% 0 0 0;
  background-color: gray ;
  font-family:"Comfortaa";
  font-size: 15px;
  letter-spacing: 1.5px;
}

span {
  font-family:"Painterz";
  letter-spacing:2px;
}

.loader{
  z-index: 1000000;
  position: relative;
  color: white;
  -webkit-text-fill-color: gray; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gray;
  margin: auto;  
  /*position: relative;*/
  margin: 0 auto;
  left:0;
  right: 0;
  top: 40%;
  bottom: 0;
}

.sk-cube-grid {
  width: 60px;
  height: 60px;
/*  margin: 100px auto;*/
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #c2d1f0;
  float: left;
  border: #5c5c3d 1px solid;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }



@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

/* END OF RAP.HTML STYLE */


